<template name="cards_figcaption">
	<figure class="cards_figcaption">
		<div class="mediaContainer">
			{{#if isSlider}}	
				{{> components_slider}}
			{{else}}
				{{#if isVideo}}
					{{> components_video_player}}
				{{else}}
					<img src="/images/projects/{{imgSource}}" alt="">
				{{/if}}
			{{/if}}
		</div>
		{{#if hasCaptions}}
			<figcaption>
				{{#if hasIntro}}
					<h2>
						{{{intro.description}}}
					</h2>
				{{/if}}
				{{#each captions}}
					<p>
						{{{content}}}
					</p>
				{{/each}}
			</figcaption>
		{{/if}}
	</figure>
</template>