<template name="cards_figcaption">
	<figure class="cards_figcaption">
		<div class="mediaContainer">
			{{#if isVideo}}
				<video width="100%" height="auto" poster="/images/projects/{{imgSource}}">
					<source src="{{videoSource}}.mp4">
					<source src="{{videoSource}}.webm">
					<source src="{{videoSource}}.ogv">	
				</video>
			{{else}}
				<img src="/images/projects/{{imgSource}}" alt="">
			{{/if}}
		</div>
		{{#if hasCaptions}}
			<figcaption>
				{{#if hasIntro}}
					<h2>
						{{{intro.description}}}
					</h2>
				{{/if}}
				{{#each captions}}
					<p>
						{{{content}}}
					</p>
				{{/each}}
			</figcaption>
		{{else}}
			<figcaption class="empty">
			</figcaption>
		{{/if}}
	</figure>
</template>