<template name="cards_project">
	<a data-index="{{index}}" href="{{pathFor 'detail' _project_slug=this.slug}}" title="{{title}}" class="projectCard {{highlighted}}">
		{{#if hasThumbnail}}
			<img src="{{thumbnail}}" width="" height="" alt="" />
			<img class="interlace" src="images/effects/interlacing_effect.png" width="" height="" alt="" />
		{{/if}}
		<time datetime="{{date_created}}">{{formattedDate date_created "MM / YYYY"}}</time>
		<h2>{{title}}</h2>
		<p>{{{description}}}</p>
	</a>
</template>