<template name="cards_figcaption">
	<figure class="cards_figcaption">
		<div class="imageContainer">
			<img src="/images/projects/{{imgSource}}" alt="">
		</div>
		{{#if hasCaptions}}
			<figcaption>
				{{#if hasIntro}}
					<h2>
						{{{intro.title}}}
					</h2>
					<h3>
						{{{intro.description}}}
					</h3>
				{{/if}}
				{{#each captions}}
					<p>
						{{{content}}}
					</p>
				{{/each}}
			</figcaption>
		{{else}}
			<figcaption class="empty">
			</figcaption>
		{{/if}}
	</figure>
</template>