<template name="figcaption">
	{{#if deviceParameters.isMobile}}
		{{> cards_mobile_figcaption}}
	{{else}}
		{{> cards_figcaption}}
	{{/if}}
</template>

<template name="cards_mobile_figcaption">
	<figure class="cards_mobile_figcaption">
		<div class="mobileMediaContainer">
			{{#if isSlider}}	
				{{> components_slider}}
			{{else}}
				{{#if isVideo}}
					{{> video_player}}
				{{else}}
					<div class="loading"><i class="icon-progress"></i></div>
					<img data-src="/images/projects/{{imgSource}}" alt="">
				{{/if}}
			{{/if}}
		</div>
		{{#if hasCaptions}}
			<figcaption>
				{{#if hasIntro}}
					<h2>
						{{{loadMessageCode intro.description}}}
					</h2>
				{{/if}}
				{{#each captions}}
					<p>
						{{{loadMessageCode content}}}
					</p>
				{{/each}}
			</figcaption>
		{{/if}}
	</figure>
</template>

<template name="cards_figcaption">
	<figure class="cards_figcaption">
		<div class="mediaContainer">
			{{#if isSlider}}	
				{{> components_slider}}
			{{else}}
				{{#if isVideo}}
					{{> components_video_player}}
				{{else}}
					<img data-src="/images/projects/{{imgSource}}" alt="">
				{{/if}}
			{{/if}}
		</div>
		{{#if hasCaptions}}
			<figcaption>
				{{#if hasIntro}}
					<h2>
						{{{loadMessageCode intro.description}}}
					</h2>
				{{/if}}
				{{#each captions}}
					<p>
						{{{loadMessageCode content}}}
					</p>
				{{/each}}
			</figcaption>
		{{/if}}
	</figure>
</template>