<template name="project">
	{{#if deviceParameters.isMobile}}
		{{> cards_mobile_project}}
	{{else}}
		{{> cards_project}}
	{{/if}}
</template>

<template name="cards_mobile_project">
	<div class="mobileProjectCard">
		
		<a data-index="{{index}}" href="{{pathFor 'detail' _project_slug=translatedSlug}}" title="{{loadMessageCode title}}">
			<h2>
				{{loadMessageCode title}}
			</h2>
			<div class="thumbnail" data-src="{{thumbnail}}">
				<i class="icon-progress"></i>
			</div>
		</a>
		
	</div>
</template>

<template name="cards_project">
	<a data-index="{{index}}" href="{{pathFor 'detail' _project_slug=translatedSlug}}" title="{{loadMessageCode title}}" class="projectCard {{colourHighlighted}}">
		<div class="flip-content">
			<div class="flip-front">
				<time datetime="{{date_created}}">
					{{formattedDate date_created "MM / YYYY"}}
				</time>
				<h2>
					{{loadMessageCode title}}
				</h2>
				<p>
					{{{loadMessageCode description}}}
				</p>
			</div>
			<div class="flip-rear" style="background-image: url({{thumbnail}});">
			</div>
		</div>
	</a>
</template>