<template name="cards_slider">
	<div class="slider__container">
		{{#unless device.isTouchCapable}}
			<button class="slider__container__paddle slider__container__paddle--previous slider__container__paddle--hidden" data-go="previous">
				<i class="slider__container__paddle__icon icon-leftArrow"></i>
			</button>
			<button class="slider__container__paddle slider__container__paddle--next" data-go="next">
				<i class="slider__container__paddle__icon icon-rightArrow"></i>
			</button>
		{{/unless}}
		<div class="slider" style="width: {{sliderWidth}}%">
			{{#each this.fields.images}}
				<div class="slide">
					{{>cards_image}}
				</div>
			{{/each}}
		</div>
	</div>
	<div class="slider__indicator">
		{{#each this.fields.images}}
			<button class="slider__indicator__button">
			</button>
		{{/each}}
	</div>
</template>