{{ $base 			:= .cl_media_base }}
{{ $cl_version 		:= .cl_version }}
{{ $cl_public_id	:= .cl_public_id }}
<picture>
	<source
		media="(min-width: 1920px)"
		srcset="{{ $base }}image/upload/w_2560/v{{ $cl_version }}/{{ $cl_public_id }}.webp,
				{{ $base }}image/upload/w_2560/v{{ $cl_version }}/{{ $cl_public_id }}.jpg,
				{{ $base }}image/upload/w_2560/v{{ $cl_version }}/{{ $cl_public_id }}.webp 2x,
				{{ $base }}image/upload/w_2560/v{{ $cl_version }}/{{ $cl_public_id }}.jpg 2x">

	<source
		media="(min-width: 1440px)"
		srcset="{{ $base }}image/upload/w_1440/v{{ $cl_version }}/{{ $cl_public_id }}.webp,
				{{ $base }}image/upload/w_1440/v{{ $cl_version }}/{{ $cl_public_id }}.jpg,
				{{ $base }}image/upload/w_2560/v{{ $cl_version }}/{{ $cl_public_id }}.webp 2x,
				{{ $base }}image/upload/w_2560/v{{ $cl_version }}/{{ $cl_public_id }}.jpg 2x">

	<source
		media="(min-width: 1280px)"
		srcset="{{ $base }}image/upload/w_1280/v{{ $cl_version }}/{{ $cl_public_id }}.webp,
				{{ $base }}image/upload/w_1280/v{{ $cl_version }}/{{ $cl_public_id }}.jpg,
				{{ $base }}image/upload/w_2560/v{{ $cl_version }}/{{ $cl_public_id }}.webp 2x,
				{{ $base }}image/upload/w_2560/v{{ $cl_version }}/{{ $cl_public_id }}.jpg 2x">

	<source
		media="(min-width: 1024px)"
		srcset="{{ $base }}image/upload/w_1024/v{{ $cl_version }}/{{ $cl_public_id }}.webp,
				{{ $base }}image/upload/w_1024/v{{ $cl_version }}/{{ $cl_public_id }}.jpg,
				{{ $base }}image/upload/w_2048/v{{ $cl_version }}/{{ $cl_public_id }}.webp 2x,
				{{ $base }}image/upload/w_2048/v{{ $cl_version }}/{{ $cl_public_id }}.jpg 2x">

	<source
		media="(min-width: 768px)"
		srcset="{{ $base }}image/upload/w_768/v{{ $cl_version }}/{{ $cl_public_id }}.webp,
				{{ $base }}image/upload/w_768/v{{ $cl_version }}/{{ $cl_public_id }}.jpg
				{{ $base }}image/upload/w_1536/v{{ $cl_version }}/{{ $cl_public_id }}.webp 2x,
				{{ $base }}image/upload/w_1536/v{{ $cl_version }}/{{ $cl_public_id }}.jpg 2x">

	<source
		media="(min-width: 640px)"
		srcset="{{ $base }}image/upload/w_640/v{{ $cl_version }}/{{ $cl_public_id }}.webp,
				{{ $base }}image/upload/w_640/v{{ $cl_version }}/{{ $cl_public_id }}.jpg,
				{{ $base }}image/upload/w_1280/v{{ $cl_version }}/{{ $cl_public_id }}.webp 2x,
				{{ $base }}image/upload/w_1280/v{{ $cl_version }}/{{ $cl_public_id }}.jpg 2x">

	<source
		media="(min-width: 480px)"
		srcset="{{ $base }}image/upload/w_480/v{{ $cl_version }}/{{ $cl_public_id }}.webp,
				{{ $base }}image/upload/w_480/v{{ $cl_version }}/{{ $cl_public_id }}.jpg,
				{{ $base }}image/upload/w_960/v{{ $cl_version }}/{{ $cl_public_id }}.webp 2x,
				{{ $base }}image/upload/w_960/v{{ $cl_version }}/{{ $cl_public_id }}.jpg 2x">

	<source
		media="(max-width: 480px)"
		srcset="{{ $base }}image/upload/w_400/v{{ $cl_version }}/{{ $cl_public_id }}.jpg,
				{{ $base }}image/upload/w_400/v{{ $cl_version }}/{{ $cl_public_id }}.webp,
				{{ $base }}image/upload/w_800/v{{ $cl_version }}/{{ $cl_public_id }}.jpg 2x,
				{{ $base }}image/upload/w_800/v{{ $cl_version }}/{{ $cl_public_id }}.webp 2x">

	<img src="{{ $base }}image/upload/w_1280/v{{ $cl_version }}/{{ $cl_public_id }}.jpg">
</picture>