<template name="components_header">
	<h1>
		{{content.title}}
	</h1>
	<h2>
		{{content.subtitle}}
	</h2>
	<nav>
		<ul>
			<li class="contentLink">
				<a href="/" title="{{content.projects}}">
					{{content.projects}}
				</a>
			</li>
			{{#each navCategories}}
				<li class="categoryLink">
					<a href="{{pathFor 'list' _category_slug=this.slug}}" title="{{title}}">
						{{title}}
					</a>
				</li>
			{{/each}}

			{{#each pages}}
				<li class="contentLink">
					<a href="{{pathFor 'content' _page_slug=this.slug}}" title="{{title}}">
						{{title}}
					</a>
				</li>
			{{/each}}
		</ul>
	</nav>
</template>