<template name="components_video_player">
	<video width="100%" height="auto" poster="/images/projects/{{imgSource}}" preload="metadata">
		<source src="{{videoSource}}.mp4">
		<source src="{{videoSource}}.webm">
		<source src="{{videoSource}}.ogv">	
	</video>
	<div class="timeline">
		<div class="loadingProgressIndicator" style="width: {{videoLoadedPercentage}}%">
		</div>
		<div class="videoTimelineIndicator" style="width: {{videoTime.durationPercentage}}%">
		</div>
	</div>
	<div class="controls">
		<button class="playcontrol">
			P
		</button>
		<button class="muteButton">
			M
		</button>
		<time duration="2M57S">
			{{videoTime.currentTime}} / {{videoTime.duration}}
		</time>
		<button class="fullscreenToggle">
			FS
		</button>
	</div>
</template>