<template name="components_video_player">
	<video width="100%" height="{{renderedVideoSize.height}}" poster="/images/projects/{{imgSource}}" preload="metadata">
		<source src="{{videoSource}}.mp4">
		<source src="{{videoSource}}.webm">
		<source src="{{videoSource}}.ogv">	
	</video>

	<div class="player-hud">
		<button class="playcontrol icon-play">
		</button>

		<div class="timeline-container">
			<i class="timeline-indicator">
			</i>
			<div class="progress-bar-container">
				<div class="progress-bar">
				</div>
			</div>
		</div>

		<button class="fullscreen-toggle icon-fullscreen">
		</button>
	</div>
</template>