<template name="components_header">
	<h1>
		Anna Claire Christoffer
	</h1>
	<h2>
		Conceptional Design
	</h2>
	<h3>
		working at <br /> Hi-Res! Berlin
	</h3>
	<nav>
		<ul>
			<li>
				<a href="/" title="Projects">
					Projects
				</a>
			</li>
			{{#each navCategories}}
				<li>
					<a href="{{pathFor 'list' _category_slug=this.slug}}" title="{{title}}">
						{{title}}
					</a>
				</li>
			{{/each}}

			{{#each contentItems}}
				<li>
					<a href="{{pathFor 'content' _content=this.slug}}" title="{{title}}">
						{{title}}
					</a>
				</li>
			{{/each}}
		</ul>
	</nav>
</template>