<template name="components_slider">
	<div class="sliderContainer">
		<div class="slider" style="width: {{sliderWidth}}%">
			{{#each slides}}
				<div class="slide">
					{{> components_loading}}
					<img data-src="{{mediaUrl}}/images/projects/{{imgSource img}}">
				</div>
			{{/each}}
		</div>
	</div>
	<button class="go left" data-direction="previous">
		<i class="icon-leftArrow"></i>
	</button>
	<button class="go right" data-direction="next">
		<i class="icon-rightArrow"></i>
	</button>
	<div class="sliderIndicator">
		{{#each slides}}
			<button class="slideButton"></button>
		{{/each}}
	</div>
</template>