<template name="components_header">
	<h1>
		Anna Claire Christoffer
	</h1>
	<h2>
		Conceptional Design
	</h2>
	<h3>
		working at <br /> Hi-Res! Berlin
	</h3>
	<nav>
		<ul>
			<li>
				<a href="#" title="Projects">
					Projects
				</a>
			</li>
			{{#each navCategories}}
				<li>
					<a href="#" title="{{title}}">
						{{title}}
					</a>
				</li>
			{{/each}}
			<li>
				<a href="#" title="Work Experience">
					Work Experience
				</a>
			</li>
			<li>
				<a href="#" title="About">
					About
				</a>
			</li>
			<li>
				<a href="#" title="Contact">
					Contact
				</a>
			</li>
		</ul>
	</nav>
</template>