<template name="components_video_player">
	<video width="100%" height="auto" poster="/images/projects/{{imgSource}}">
		<source src="{{videoSource}}.mp4">
		<source src="{{videoSource}}.webm">
		<source src="{{videoSource}}.ogv">	
	</video>
	<div class="timeline">
		<div class="loadingProgressIndicator">
		</div>
		<div class="videoScrubber">
		</div>
	</div>
	<div class="controls">
		<button class="playcontrol">
			P
		</button>
		<button class="muteButton">
			M
		</button>
		<time duration="2M57S">
			0:00 of 2:57
		</time>
		<button class="fullscreenToggle">
			FS
		</button>
	</div>
</template>