<template name="header">
	{{#if deviceParameters.isMobile}}
		{{> components_mobile_header}}
	{{else}}
		{{> components_header}}
	{{/if}}
</template>

<template name="components_mobile_header">

	<header class="mobile_header">
		<button id="back">
			<i class="icon-arrow-left">
			</i>
		</button>
		<h1>
			{{{loadMessageCode staticContent.mainHeading.content}}}
		</h1>
		<button id="menu_reveal">
			<i class="icon-menu">
			</i>
		</button>
		<nav>
			<ul>
				<li>
					<a href="{{pathFor 'list' _lang=currentLanguage}}" title="{{loadMessageCode staticContent.projects.content}}">
						{{{loadMessageCode staticContent.projects.content}}}
					</a>
				</li>
				{{#each pages}}
					<li>
						<a href="{{pathFor 'content' _lang=currentLanguage _page_slug=translatedSlug}}" title="{{loadMessageCode title}}">
							{{{loadMessageCode title}}}
						</a>
					</li>
				{{/each}}
				{{#if isInsideWebView}}
					<li>
						<a href="com.annachristoffer://" title="{{loadMessageCode staticContent.nativeapp.content}}">
							{{loadMessageCode staticContent.nativeapp.content}}
						</a>
					</li>
				{{/if}}
				<li>
					<button class="switch-language" data-language="en" data-selected="{{isCurrentLanguage 'en'}}">
						EN
					</button>
					<button class="switch-language" data-language="de" data-selected="{{isCurrentLanguage 'de'}}">
						DE
					</button>
				</li>
			</ul>
		</nav>
	</header>

</template>

<template name="components_header">
	<div class="header">
		<header>
			<h1>
				{{loadMessageCode staticContent.mainHeading.content}}
			</h1>
			<h2>
				{{{loadMessageCode staticContent.subtitle.content}}}
			</h2>
			<nav>
				<ul>
					<li class="contentLink">
						<a data-is-landing-page="{{isLandingPage}}" href="{{pathFor 'list' _lang=currentLanguage}}" title="{{loadMessageCode staticContent.projects.content}}">
							{{{loadMessageCode staticContent.projects.content}}}
						</a>
					</li>
					{{#each navCategories}}
						<li class="categoryLink">
							<a data-is-current-category="{{isCurrentCategory id}}" href="{{pathFor 'list' _lang=currentLanguage _category_slug=translatedSlug}}" title="{{loadMessageCode title}}">
								{{loadMessageCode title}}
							</a>
						</li>
					{{/each}}

					{{#each pages}}
						<li class="contentLink">
							<a data-is-current-page="{{isCurrentPage id}}" href="{{pathFor 'content' _lang=currentLanguage _page_slug=translatedSlug}}" title="{{loadMessageCode title}}">
								{{{loadMessageCode title}}}
							</a>
						</li>
					{{/each}}
				</ul>
			</nav>
			{{> components_social}}
		</header>	
		<div class="language-select">
			<button data-language="en" data-selected="{{isCurrentLanguage 'en'}}">
				<span>
					Eng
				</span>
			</button>
			<button data-language="de" data-selected="{{isCurrentLanguage 'de'}}">
				<span>
					Ger
				</span>
			</button>
		</div>
	</div>
</template>