<template name="video_player">
	{{#if deviceParameters.isMobile}}
		{{> components_mobile_video_player}}
	{{else}}
		{{> components_video_player}}
	{{/if}}
</template>

<template name="components_mobile_video_player">
	<div class="mobileVideoContainer">
		<video width="100%" height="{{renderedVideoSize.height}}" poster="{{mediaUrl}}/images/projects/{{imgSource}}" preload="metadata">
			<source src="{{videoSource}}.mp4">
			<source src="{{videoSource}}.webm">
			<source src="{{videoSource}}.ogv">	
		</video>
	</div>
</template>

<template name="components_video_player">
	<div class="videoContainer">
		<button class="playbutton playcontrol">
			<i class="icon-large-play"></i>
		</button>

		<video width="100%" height="{{renderedVideoSize.height}}" poster="{{mediaUrl}}/images/projects/{{imgSource}}" preload="metadata">
			<source src="{{videoSource}}.mp4">
			<source src="{{videoSource}}.webm">
			<source src="{{videoSource}}.ogv">	
		</video>

		<div class="player-hud">
			<button class="playcontrol">
				<i class="icon-play"></i>
			</button>

			<div class="timeline-container">
				<i class="timeline-indicator" style="left: {{videoTime.durationPercentage}}%;">
				</i>
				<div class="progress-bar-container">
					<div class="progress-bar" style="width: {{videoLoadedPercentage}}%;">
					</div>
				</div>
			</div>

			<button class="fullscreen-toggle icon-fullscreen">
			</button>
		</div>
	</div>
</template>