<template name="views_page">

	<div class="page-column-left">
		<section class="page-section experience">
			<ul>
				{{#each getSectionGroupsByName "experience"}}
					<li>
						{{#each items}}
							{{> views_item}}
						{{/each}}
					</li>
				{{/each}}
			</ul>
		</section>
	</div>

	<div class="page-column-right">
		<section class="page-section profile">
			<ul>
				{{#each getSectionGroupsByName "profile"}}
					<li>
						{{#each items}}
							{{> views_item}}
						{{/each}}
					</li>
				{{/each}}
			</ul>
			<a class="work-social" href="https://www.xing.com/profile/Anna_Christoffer" title="Anna Christoffer Xing">
				<i class="icon-xing"></i>
			</a>
			<a class="work-social" href="http://de.linkedin.com/pub/anna-christoffer/a7/30/707/" title="Anna Christoffer LinkedIn">
				<i class="icon-linkedin"></i>
			</a>
		</section>

		<section class="page-section education">
			<ul>
				{{#each getSectionGroupsByName "education"}}
					<li>
						{{#each items}}
							{{> views_item}}
						{{/each}}
					</li>
				{{/each}}
			</ul>
		</section>
	</div>

</template>

<template name="views_item">
	{{>dynamicTemplate}}
</template>

<template name="item_textNode">
	{{#if isTag 'h1'}}
		<h1>
			{{{loadMessageCode content}}}
		</h1>
	{{/if}}

	{{#if isTag 'h2'}}
		<h2>
			{{{loadMessageCode content}}}
		</h2>
	{{/if}}

	{{#if isTag 'h3'}}
		<h3>
			{{{loadMessageCode content}}}
		</h3>
	{{/if}}

	{{#if isTag 'h4'}}
		<h4>
			{{{loadMessageCode content}}}
		</h4>
	{{/if}}

	{{#if isTag 'p'}}
		<p>
			{{{loadMessageCode content}}}
		</p>
	{{/if}}
</template>

<template name="item_dateNode">
	<h4>
		<time datetime="{{content.from}}">
			{{formattedDate content.from "MMMM YYYY"}}
		</time>
		{{#if exists content.to}}
			<time datetime="{{content.to}}">
				&ndash; {{formattedDate content.to "MMMM YYYY"}} /
			</time>
		{{/if}}
	</h4>
</template>

<template name="item_listNode">
	<ul>
		{{#each contents}}
			<li>
				{{loadMessageCode content}}
			</li>
		{{/each}}
	</ul>
</template>
