<template name="views_page">
	{{#each sections}}
		<section class="page-section">
		{{#each groups}}
			<div>
				{{#each items}}
					{{>views_item}}
				{{/each}}
			</div>
		{{/each}}
		</section>
	{{/each}}
</template>

<template name="views_item">
	{{>dynamicTemplate}}
</template>

<template name="item_textNode">
	{{#if isTag 'h1'}}
		<h1>
			{{{loadMessageCode content}}}
		</h1>
	{{/if}}

	{{#if isTag 'h2'}}
		<h2>
			{{{loadMessageCode content}}}
		</h2>
	{{/if}}

	{{#if isTag 'h3'}}
		<h3>
			{{{loadMessageCode content}}}
		</h3>
	{{/if}}

	{{#if isTag 'p'}}
		<p>
			{{{loadMessageCode content}}}
		</p>
	{{/if}}
</template>

<template name="item_dateNode">
	<time datetime="{{content.from}}">
		{{formattedDate content.from "MMMM YYYY"}}
	</time>
	{{#if exists content.to}}
		<time datetime="{{content.to}}">
			&ndash; {{formattedDate content.to "MMMM YYYY"}} /
		</time>
	{{/if}}
</template>

<template name="item_listNode">
	<ul>
		{{#each contents}}
			<li>
				{{loadMessageCode content}}
			</li>
		{{/each}}
	</ul>
</template>
