<picture>
	<source
		media="(min-width: 1600px)"
		srcset="{{ .base }}{{ .path }}_full@1x.jpg,
		    	{{ .base }}{{ .path }}_full@2x.jpg 2x"
	>
	<source
		media="(min-width: 1024px) and (max-width: 1600px)"
		srcset="{{ .base }}{{ .path }}_large@1x.jpg,
		    	{{ .base }}{{ .path }}_large@2x.jpg 2x"
	>
	<source
		media="(min-width: 480px) and (max-width: 1024px)"
		srcset="{{ .base }}{{ .path }}_medium@1x.jpg,
		    	{{ .base }}{{ .path }}_medium@2x.jpg 2x"
	>
	<source
		media="(max-width: 480px)"
		srcset="{{ .base }}{{ .path }}_small@1x.jpg,
		    	{{ .base }}{{ .path }}_small@2x.jpg 2x"
	>
	<img 
		src="{{ .base }}{{ .path }}_medium@1x.jpg"
	>
</picture>