/**
 *	Layout and break points
 */
$max-width: em(1280)
$break-0: 	em(320)
$break-1:		em(640)
$break-2:		em(768)
$break-3:		em(1024)
$break-4: 	em(1280)

/**
 *	Layers
 */
$z-over: 		3
$z-middle: 	1
$z-under: 	0

/**
 *	Colours
 */
$black: 						#000
$white:							#fff
$highlighted:				#ff3399
$tile-highlighted:	#fee7f9
$header:						#feecfb
$header-text-color:				#dd79de

/**
 *	Fonts and font sizes
 */
$font-family: 				"jaf-facitweb", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
$base-size:						rem(16)	
$standard-font-size:	rem(14)
$medium-font-size: 		rem(22)
$heading-font-size:		rem(16)
$line-height:					rem(20)
$letter-spacing:			rem(0.3)
$light-weight:				100
$standard-weight:			300
$heavy-weight:				600
