.background
	z-index: $z-under
	position: fixed
	top: 0
	left: 0
	width: 100vw
	height: 100vh
	+background('images/background')

.container 
	z-index: $z-middle
	position: relative
	width: 100%
	+display(flex)
	+justify-content(center)
	+break(min, $break-2)
		padding: 4rem 0

.wrapper 
	overflow: hidden
	width: 100%
	max-width: $max-width
	+display(flex)
	+break(min-max, $break-0, $break-2)
		+flex-direction(column)
		+align-items(initial)
	+break(min, $break-2)
		+flex-direction(row-reverse)
		+align-items(flex-start)

section,
header 
	+flex(1)

header
	max-width: 12rem