.background
	z-index: $z-under
	position: fixed
	top: 0
	left: 0
	width: 100vw
	height: 100vh
	+background('images/background')

.container 
	z-index: $z-middle
	position: relative
	width: 100%
	+display(flex)
	+justify-content(center)
	padding-top: 4rem

.wrapper 
	overflow: hidden
	width: 100%
	max-width: $max-width
	+display(flex)
	+flex-direction(row-reverse)

section,
header 
	+flex(1)

header
	max-width: 12rem