main
	display: grid
	grid-template-columns: 1fr
	grid-template-rows: minmax($units * 50, 100vh) auto
	grid-template-areas: 'teaser' 'content'

.content
	grid-area: content
	display: grid
	grid-template-columns: 1fr
	grid-auto-rows: minmax(100vh, auto)

	> p
		display: none

