.article-aside
	display: grid
	grid-template-columns: ($units * 18.75) 2fr ($units * 4) 1fr ($units * 18.75)
	grid-template-rows: ($units * 4) auto ($units * 4)
	grid-template-areas: '. . . . .' '. article . aside .' '. . . . .'

	article
		grid-area: article

	aside 
		grid-area: aside

	h2
		margin: $units 0

	ul
		li
			+listItemStyle

.facts
	display: grid
	grid-template-columns: 1fr
	grid-auto-flow: row

	color: $white

	figure
		display: grid
		
		grid-template-columns: 1fr 2fr
		grid-template-rows: repeat(2, minmax(50vh, 1fr))
		grid-template-areas: 'caption picture' '. picture'

		&:nth-child(even)
			grid-template-columns: 2fr 1fr
			grid-template-areas: 'picture caption' 'picture .'

		background-color: $grey

		picture
			grid-area: picture
			display: grid
			grid-template-columns: 1fr
			grid-template-rows: 1fr
			grid-template-areas: 'image'
			align-items: center
			background-color: $white

			img
				grid-area: image

		figcaption
			grid-area: caption
			display: grid
			grid-template-columns: ($units * 6) auto ($units * 6)
			grid-template-rows: ($units * 6) (minmax(auto, $units * 2)) ($units) auto
			grid-template-areas: '. . number' '. heading .' '. . .' '. text .'
			background-color: $blue

			h2
				grid-area: heading

			p 
				grid-area: text

			span
				grid-area: number
				justify-self: center
				align-self: center
		
.double
	display: grid
	grid-template-columns: repeat(2, 1fr)
	grid-template-rows: 1fr

	> div
		display: grid
		grid-template-columns: auto minmax(auto, $units * 30) auto
		grid-template-rows: ($units * 4.5) auto ($units * 4.5)
		grid-template-areas: '. . .' '. content .' '. . .'

		&:first-of-type
			background-color: $light-grey
		&:last-of-type
			background-color: $medium-grey

		.snippet
			grid-area: content
			display: grid
			grid-auto-rows: min-content

			h2
				margin-bottom: $units * 2.5

			h3
				margin-bottom: $units * 1.25

			h4 
				margin-bottom: $units

			p
				margin-bottom: $units * 2.5

				&:last-of-type
					margin-bottom: 0

.contact
	display: grid
	grid-template-columns: ($units * 6) ($units * 30) auto 50vw
	grid-template-rows: ($units * 6) auto ($units * 6)
	grid-template-areas: '. . . photo' '. details . photo' '. . . photo'

	.details
		grid-area: details
		display: grid
		grid-template-columns: 1fr
		grid-template-rows: minmax(auto, $units * 6) ($units * 4) minmax(auto, $units * 5) auto auto
		grid-template-areas: 'first' '.' 'social' '.' 'second'

	.snippet
		&:nth-of-type(1)
			grid-area: first
		&:nth-of-type(2)
			grid-area: second

		h2
			margin-bottom: $units

	.social-links
		grid-area: social
		display: grid
		grid-template-columns: repeat(5, minmax(auto, $units * 5))
		grid-template-rows: 1fr

	figure
		grid-area: photo
		display: grid
		grid-template-columns: 1fr
		grid-template-rows: 1fr

		picture
			grid-column: 1
			grid-row: 1

			img
				width: 100%
				height: 100%
				object-fit: cover



