body
	font-family: $font-family
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

header
	h1
		font-size: $medium-font-size
		font-style: italic
		font-weight: $font-weight-normal
		line-height: $medium-line-height
		letter-spacing: $letter-spacing

nav
	font-size: $normal-font-size
	line-height: $normal-line-height

	a
		font-weight: $font-weight-normal

.standard-teaser
	h2
		font-size: $hero-font-size
		font-style: italic
		font-weight: $font-weight-semilight
		line-height: $hero-line-height
		letter-spacing: $hero-letter-spacing

	a
		font-size: $normal-font-size
		line-height: $normal-line-height

.project-card
	h2
		font-size: $hero-font-size
		font-style: italic
		font-weight: $font-weight-semilight
		line-height: $hero-line-height
		letter-spacing: $hero-letter-spacing

.article-aside
	h2
		font-family: $font-family-mb
		font-size: $base-font-size
		letter-spacing: $letter-spacing * 0.67
		font-weight: $font-weight-heavy
		text-transform: uppercase
	ul,
	p
		font-family: $font-family-light
		font-size: $base-font-size
		letter-spacing: $letter-spacing * 0.85
		line-height: $p-line-height