{{ $mediaBase := .Site.Params.MediaBase}}

<figure>
	<picture>
		<source
			media="(min-width: 1024px)"
			srcset="{{ $mediaBase }}{{ .Get "path" }}_d@1x.jpg,
			    	{{ $mediaBase }}{{ .Get "path" }}_d@2x.jpg 2x"
		>
		<source
			media="(min-width: 768px)"
			srcset="{{ $mediaBase }}{{ .Get "path" }}_t@1x.jpg,
			    	{{ $mediaBase }}{{ .Get "path" }}_t@2x.jpg 2x"
		>
		<source
			media="(min-width: 320px)"
			srcset="{{ $mediaBase }}{{ .Get "path" }}_m@1x.jpg,
			    	{{ $mediaBase }}{{ .Get "path" }}_m@2x.jpg 2x"
		>
		<img src="{{ $mediaBase }}{{ .Get "path" }}_d@1x.jpg">
	</picture>
	{{ with .Inner }}
		<figcaption>
			{{ . }}
		</figcaption>
	{{ end }}
</figure>