<header>
	<h1>
		{{{loadMessageCode staticContent.title.content}}}
	</h1>
	<h2>
		{{{loadMessageCode staticContent.subtitle.content}}}
	</h2>
	<nav>
		<ul>
			<li>
				<a href="/{{currentLanguage}}" title="{{loadMessageCode staticContent.projects.content}}">
					{{{loadMessageCode staticContent.projects.content}}}
				</a>
			</li>
			{{#each pages}}
				<li>
					<a href="/{{../language}}/content/{{loadMessageCode slug ../language}}" title="{{loadMessageCode title}}">
						{{{loadMessageCode title ../language}}}
					</a>
				</li>
			{{/each}}
		</ul>
	</nav>
</header>