<div id="content">
	{{#each page.sections}}
		<section>
			{{#each groups}}
				{{#each items}}
					{{#if isHeadingOne type}}
						<h1>
							{{{loadMessageCode content ../../../language}}}
						</h1>
					{{/if}}
					
					{{#if isHeadingTwo type}}
						<h2>
							{{{loadMessageCode content ../../../language}}}
						</h2>
					{{/if}}
					
					{{#if isHeadingThree type}}
						<h3>
							{{{loadMessageCode content ../../../language}}}
						</h3>
					{{/if}}
					
					{{#if isParagraph type}}
						<p>
							{{{loadMessageCode content ../../../language}}}
						</p>
					{{/if}}

					{{#if isDate type}}
						<date>{{formattedDate content.from "MMMM YYYY" ../../../language}}</date>
						-
						<date>{{formattedDate content.to "MMMM YYYY" ../../../language}}</date>
					{{/if}}
				{{/each}}
			{{/each}}
		</section>
	{{/each}}
</div>