.preview__tile 
	+flex(1)
	padding: 0.5rem
	background-color: rgba($white, 0.6)

.preview__tile__content
	width: 100%

.preview__tile__content__date
	font-size: $standard-font-size
	letter-spacing: rem(1)

.preview__tile__content__title
	font-size: $medium-font-size
	font-weight: $light-weight
	font-style: italic
	line-height: $line-height
	letter-spacing: rem(-0.5)

.preview__tile__content__description
	font-size: $standard-font-size
	margin-top: 1rem
