header
	display: flex
	flex-direction: row
	align-items: center
	padding: $units * 4 $units * 2

	+break(max, $break-1)
		flex-direction: column

	& > a
		flex: 1

nav 
	flex: 1
	ul
		display: flex
		flex-direction: row
		li
			display: flex
			flex: 1
			justify-content: center
			a
				text-transform: capitalize

	+break(max, $break-2)
		z-index: $over
		position: absolute
		top: 0
		right: 0
		padding: $units * 2
		background-color: #ccc
		width: 50vw
		ul 
			flex-direction: column
			li
				justify-content: flex-end
				a
					padding: $units * 2 0