header
	display: flex
	flex-direction: row
	align-items: center
	padding: $units * 4 $units * 2

	+break(max, $break-1)
		flex-direction: column

	& > a
		flex: 1

nav
	flex: 1

nav 
	ul
		display: flex
		flex-direction: row
		li
			display: flex
			flex: 1
			justify-content: center
			a
				text-transform: capitalize