{{ $base 			:= .Site.Params.cl_media_base }}
{{ $title			:= .Get 0 }}
{{ $class			:= .Get 1 }}
{{ $content 		:= .Get 2 }}
{{ $cl_public_id	:= .Get 3 }}
{{ $cl_version		:= .Get 4 }}
{{ $number			:= .Get 5 }}
<figure class="pictcaption {{ with $class }}{{ . }}{{ end }}">
	{{ if (not (eq $cl_public_id "")) }}
		{{ partial "thumbnail" (dict "cl_media_base" $base "cl_version" $cl_version "cl_public_id" $cl_public_id "size" 3) }}
	{{ end }}
	<figcaption>
		<h2>
			{{ $title }}
		</h2>
		<p>
			{{ $content }}
		</p>
		{{ if (not (eq $number "")) }}
			<span>
				{{ $number }}
			</span>
		{{ end }}
	</figcaption>
</figure>