<ul class="social-links">
	<li>
		<a href="mailto:mail@annachristoffer.com">
			<svg width="48" height="48" role="img">
				<use xlink:href="/svg/sprite.svg#email">
			</svg>
		</a>
	</li>
	<li>
		<a href="https://www.xing.com/profile/Anna_Christoffer">
			<svg width="48" height="48" role="img">
				<use xlink:href="/svg/sprite.svg#xing">
			</svg>
		</a>
	</li>
	<li>
		<a href="https://www.linkedin.com/in/anna-christoffer-707030a7">
			<svg width="48" height="48" role="img">
				<use xlink:href="/svg/sprite.svg#linkedin">
			</svg>
		</a>
	</li>
	<li>
		<a href="https://twitter.com/annachristoffer">
			<svg width="48" height="48" role="img">
				<use xlink:href="/svg/sprite.svg#twitter">
			</svg>
		</a>
	</li>
	<li>
		<a href="https://www.instagram.com/anna.christoffer/">
			<svg width="48" height="48" role="img">
				<use xlink:href="/svg/sprite.svg#instagram">
			</svg>
		</a>
	</li>
</ul>