.content 
	+break(min, $break-2)
		+display(flex)
		margin: 0 1rem

.content__column
	&:nth-child(even)
		padding-left: 0.5rem
		+display(flex)
		// +align-items(center)
	&:nth-child(odd)
		padding-right: 0.5rem

.content__pane
	overflow: hidden
	+flex(1)
	background-color: rgba($white, 0.6)

