.standard-teaser
	grid-area: teaser
	display: grid
	grid-template-columns: 10rem 2fr 5.75rem 30rem 10rem
	grid-template-rows: auto 22rem 3.75rem auto
	grid-template-areas: '. . . . .' '. text . figure .' '. link . figure .' '. . . . .'
	background-color: $blue

	h2
		grid-area: text
		color: $white

	a 
		grid-area: link
		
		display: grid
		align-items: center
		justify-content: center
		width: 50%
		color: $white
		border: 1px solid currentColor

	figure
		grid-area: figure

		img
			width: 100%
			height: 100%
			object-fit: cover
